/.agents
/.claude
/.crush
/.pi
.pi
.crush
.claude
.agents
.DS_Store
**/.svelte-kit/
**/node_modules/
/apps/desktop/.agents
/apps/desktop/.claude
/apps/desktop/build
/apps/desktop/docs
/keys
/.superpowers
**/.env
!**/.env.example
